body {
    background-color: #f5f7fa;
}

.card-header {
    font-weight: 600;
}

pre {
    background-color: #1e1e1e;
    color: #dcdcdc;
    padding: 15px;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    font-size: 13px;
}


.stream-box {
    background-color: #1e1e1e;
    color: #dcdcdc;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    font-family: monospace;
    font-size: 13px;
    border-radius: 5px;
}
.stream-line {
    margin-bottom: 4px;
}
